body { background:#e2e2e2; font-family:Arial;}

#ana { width:100% }

.sol { width:300px; border:1px solid #aeaead; float:left; margin:10px;}
.sol h1 { font-size:16px; color:#b80912;}
.sag { width:500px; border:1px solid #aeaead; float:left; margin:10px;}